<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow">

  <title>Historique dynamique</title>

  <link rel="shortcut icon" href="../../favicon.ico">
  <link rel="stylesheet" href="../../static/css/pad.css">
  <link rel="stylesheet" href="../../static/css/timeslider.css">
  <link rel="stylesheet" href="../../static/custom/timeslider.css">
  <style type="text/css" title="dynamicsyntax"></style>
</head>

<body id="padbody" class="timeslider limwidth">
  <div id="padpage">
    <div id="timeslider-top">
      <div id="timeslider-wrapper">
        <div id="timeslider" unselectable="on" style="display: none">
          <div id="timeslider-left"></div>
          <div id="timeslider-right"></div>
          <div id="timer"></div>
          <div id="timeslider-slider">
            <div id="ui-slider-handle"></div>
            <div id="ui-slider-bar"></div>
          </div>
          <div id="playpause_button">
            <div id="playpause_button_icon" class=""></div>
          </div>
          <div id="steppers">
            <div class="stepper" id="leftstep"></div>
            <div class="stepper" id="rightstep"></div>
          </div>
        </div>
        
        <div id="overlay">
          <div id="overlay-inner">
            <!-- -->
          </div>
        </div>
      </div>

      <div class="timeslider-bar">
          <div class="editbarright toolbar" id="editbar">
            <ul>
              <li onClick="window.padeditbar.toolbarClick('import_export');return false;">
                <a id="exportlink" title="Exporter en divers formats de document">
                  <div class="buttonicon buttonicon-import_export"></div>
                </a>
              </li>
            </ul>
            <a id="returnbutton">Retour au pad</a>
          </div>

          <div>
              <h1>
                <span id="revision_label"></span>
                <span id="revision_date"></span>
              </h1>
              <p>Auteurs:
              <span id="authorsList">
                <span>Aucun auteur</span>
              </span> </p>
          </div>
      </div>
    </div>

    <div id="padmain">
      <div id="padeditor">
        <div id="editorcontainerbox">
          <div id="padcontent">
          </div>
        </div>
      </div><!-- /padeditor -->
    </div><!-- /padmain -->
  </div><!-- /padpage -->

<div id="connectivity" class="popup">
  <% e.begin_block("modals"); %>
    <div class="connected visible">
      <h2>Connect&eacute;.</h2>
    </div>
    <div class="reconnecting">
      <h1>R&eacute;tablissement de la connexion...</h1>
      <p><img alt="" border="0" src="/static/img/connectingbar.gif" /></p>
    </div>
    <div class="userdup">
      <h1>Ouvert dans une autre fen&ecirc;tre.</h1>
      <h2>Il semblerait que ce pad soit ouvert dans une autre fen&ecirc;tre du navigateur.</h2>
      <p>Si vous souhaitez utiliser cette fen&ecirc;tre, vous pouvez vous reconnecter.</p>
      <button id="forcereconnect">Se reconnecter</button>
    </div>
    <div class="unauth">
      <h1>Pas d'autorisation.</h1>
      <p>Les identifiants et permissions de votre navigateur ont chang&eacute; pendant que vous regardiez ce pad. Essayez de vous reconnecter.</p>
      <button id="forcereconnect">Se reconnecter</button>
    </div>
    <div class="looping">
      <h1>D&eacute;connect&eacute;.</h1>
      <h2>Nous avons du mal &agrave; faire se synchroniser le pad et le serveur.</h2>
      <p>You may be connecting through an incompatible firewall or proxy server.</p>
      <p>Il est possible que vous soyez connect&eacute; &agrave; travers un pare-feu incompatible ou un serveur proxy.</p>
    </div>
    <div class="initsocketfail">
      <h1>D&eacute;connect&eacute;.</h1>
      <h2>Nous n'avons pas pu nous connecter au serveur de synchronisation de l'Etherpad lite.</h2>
      <p>Il se peut qu'il existe une incompatibilit&eacute; avec votre navigateur internet ou votre connexion.</p>
    </div>
    <div class="slowcommit">
      <h1>D&eacute;connect&eacute;.</h1>
      <h2>Le serveur ne r&eacute;pond pas.</h2>
      <p>Cela peut venir d'un probl&egrave;me de connexion au r&eacute;seau ou d'une charge trop importante du serveur.</p>
      <button id="forcereconnect">Se reconnecter</button>
    </div>
    <div class="deleted">
      <h1>D&eacute;connect&eacute;.</h1>
      <p>Ce pad a &eacute;t&eacute; supprim&eacute;.</p>
    </div>
    <div class="disconnected">
      <h1>D&eacute;connect&eacute;.</h1>
      <h2>La connexion entre EtherPad et le serveur de synchronisation est perdue.</h2>
      <p>Si le probl&egrave;me persiste, merci de nous le faire savoir.</p>
      <button id="forcereconnect">Se reconnecter</button>
    </div>
    <form id="reconnectform" method="post" action="/ep/pad/reconnect" accept-charset="UTF-8" style="display: none;">
        <input type="hidden" class="padId" name="padId">
        <input type="hidden" class="diagnosticInfo" name="diagnosticInfo">
        <input type="hidden" class="missedChanges" name="missedChanges">
    </form>
  <% e.end_block(); %>
</div>

<!-- export code -->
<div id="importexport">

<div id="export" class="popup">
  Exporter la version en cours au format :
  <a id="exporthtmla" target="_blank" class="exportlink"><div class="exporttype" id="exporthtml">HTML</div></a>
  <a id="exportplaina" target="_blank" class="exportlink"><div class="exporttype" id="exportplain">Texte brut</div></a>
  <a id="exportworda" target="_blank" class="exportlink"><div class="exporttype" id="exportword">Microsoft Word</div></a>
  <a id="exportpdfa" target="_blank" class="exportlink"><div class="exporttype" id="exportpdf">PDF</div></a>
  <a id="exportopena" target="_blank" class="exportlink"><div class="exporttype" id="exportopen">OpenDocument</div></a>
  <a id="exportdokuwikia" target="_blank" class="exportlink"><div class="exporttype" id="exportdokuwiki">DokuWiki</div></a>
</div>
</div>

<script type="text/javascript" src="../../static/js/require-kernel.js"></script>
<script type="text/javascript" src="../../socket.io/socket.io.js"></script>

<!-- Include base packages manually (this help with debugging) -->
<script type="text/javascript" src="../../javascripts/lib/ep_etherpad-lite/static/js/timeslider.js?callback=require.define"></script>
<script type="text/javascript" src="../../javascripts/lib/ep_etherpad-lite/static/js/ace2_common.js?callback=require.define"></script>

<script type="text/javascript" src="../../static/custom/timeslider.js"></script>

<!-- Bootstrap -->
<script type="text/javascript" >
  var clientVars = {};
  
  (function () {
    
    var pathComponents = location.pathname.split('/');
    
    // Strip 'p', the padname and 'timeslider' from the pathname and set as baseURL
    var baseURL = pathComponents.slice(0,pathComponents.length-3).join('/') + '/';
    
    
    require.setRootURI(baseURL + "javascripts/src");
    require.setLibraryURI(baseURL + "javascripts/lib");
    require.setGlobalKeyPath("require");

    $ = jQuery = require('ep_etherpad-lite/static/js/rjquery').jQuery; // Expose jQuery #HACK

    if ((!$.browser.msie) && (!($.browser.mozilla && $.browser.version.indexOf("1.8.") == 0))) {
      document.domain = document.domain; // for comet
    }

    var plugins = require('ep_etherpad-lite/static/js/pluginfw/client_plugins');
    plugins.baseURL = baseURL;
    
    plugins.update(function () {
      var hooks = require('ep_etherpad-lite/static/js/pluginfw/hooks');
      hooks.plugins = plugins;

      var timeslider = require('ep_etherpad-lite/static/js/timeslider')
      timeslider.baseURL = baseURL;
      timeslider.init();

      /* TODO: These globals shouldn't exist. */
      padeditbar = require('ep_etherpad-lite/static/js/pad_editbar').padeditbar;
      padimpexp = require('ep_etherpad-lite/static/js/pad_impexp').padimpexp;
    });
  })();
</script>
</body>
</html>

